/* core.scss - Core Definitions */

@use "colors";

body {
    height: 100%;
    margin: 0;

    background-color: colors.$raisin-black;
    font-family:  "Quicksand", sans-serif;
    font-size: 16px;
}

a {
    font-family: inherit;
    font-size: inherit;
}

img {
    display: inline;
    vertical-align: middle;
}
