/* core.scss - Core Definitions */

// fonts
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

// enable full use of view port
body {
    font-family:  "Yomogi", cursive;
    font-size: 16px;
    margin: 0;
    background: url("./background.png");
}

// remove default link style
a {
    color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

// images are inline and aligned
img {
    display: inline;
    vertical-align: middle;
}

// text should always be white
p {
    color: white;
}
