{% extends "../templates/base.html" %}

{% block title %}PureFunctor - Home{% endblock %}

{% block page_content %}
<section id="landing-root">
  <h1 id="landing-root-title">
    PureFunctor
  </h1>
  <h2 id="landing-root-subtitle">
    Functional Programmer
    <br/>
    Open Source Developer
  </h2>
  <i id="landing-root-chevron" class="fas fa-chevron-down"></i>
</section>
<section id="landing-next">
  <div id="landing-next-intro">
    <img id="landing-next-intro-image" alt="Logo" src="logo.svg"/>
    <article id="landing-next-intro-text">
      Hi, my name is Justin
      <br/>
      <br/>
      I am a Filipino computer science student, open source developer,
      functional programmer, and FOSS advocate.
      <br/>
      <br/>
      I write programs primarily in PureScript and Haskell; I also
      tend to gravitate towards academic functional programming
      languages.
      <br/>
      <br/>
      GitHub: <a href="https://github.com/PureFunctor">@PureFunctor</a>
      <br/>
      <br/>
      Twitter: <a href="https://twitter.com/PureFunctor">@PureFunctor</a>
      <br/>
      <br/>
      Email: purefunctor at gmail dot com
    </article>
  </div>
</section>
{% endblock %}
