/* about.scss - About Page */

#about-page {
    display: flex;
    justify-content: center;
    &-body {
	width: 77%;
	&-title {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    &__page_name, &__go_back {
		font-size: 2rem;
		font-weight: normal;
		color: white;
	    }
	    &__go_back {
		cursor: pointer;
		position:relative;
	    }
	    &__go_back::before {
		content: "";
		width: 0;
		height: 5%;
		background-color: white;
		position: absolute;
		bottom: -25%;
		transition: width 0.33s ease-out, left 0.33s ease-out;
		left: 50%;
	    }
	    &__go_back:focus::before, &__go_back:hover::before {
		width: 100%;
		left: 0;
	    }
	}
	& > hr {
	    color: white;
	}
	&-paragraph {
	    font-size: 1.5rem;
	}
    }
}
