@use "../colors";

#landing-root {
    height: 100vh;
    background:
	linear-gradient(
	    rgba(0, 0, 0, 0.50),
	    rgba(0, 0, 0, 0.50)
	),

	url("background.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &-title, &-subtitle {
	color: colors.$baby-powder;
	margin: 0;
    }

    &-title {
	font-size: 3em;
    }

    &-subtitle {
	font-size: 1.3em;
	font-weight: 600;
    }

    &-chevron {
	font-size: 2em;
	color: colors.$baby-powder;
	position: absolute;
	bottom: 2em;
    }
}

#landing-next {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // TODO: Extract this somewhere else...
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='53' height='53' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(129)'%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='M-20 17h1v6h-1zM 5 17h1v6h-1zM 25 17h1v6h-1z ' fill='rgba(226, 232, 240,1)'/%3E%3Cpath d='M-5 12.5h1v15h-1zM 15 12.5h1v15h-1zM 35 12.5h1v15h-1z ' fill='rgba(198, 246, 213,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    box-sizing: border-box;
    padding: 2em;
    min-height: 100vh;

    &-intro {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	&-image {
	    object-fit: cover;
	    height: 256px;
	    margin: 0 0 2em 0;
	}
	&-text {
	    font-size: 2em;
	}
	@media only screen and (min-width: 1024px) {
	    flex-direction: row;
	    &-image {
		height: 512px;
		width: 512px;
		margin: 2em;
	    }
	    &-text {
		font-size: 1.5em;
		flex: 0 1 50%
	    }
	}
    }
}
