/* home.scss - Home Page */
@use "sass:color";

@use "../breakpoints";
@use "../colors";


#home-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-info {
	display: grid;
	grid-row-gap: 6px;
	grid-column-gap: 6px;
	&-pp {
	    background-color: colors.$flat-dark;
	    border-radius: 10% 10% 0 0;
	    cursor: pointer;
	    height: 256px;
	    width: 256px;
	}
	&-bt {
	    height: 256px;
	    width: 256px;
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-row-gap: 6px;
	    grid-column-gap: 6px;

            $flat-colors: (
                "green"  : colors.$flat-green,
                "blue"   : colors.$flat-blue,
                "yellow" : colors.$flat-yellow,
                "orange" : colors.$flat-orange,
            );

	    &-yellow {
		border-radius: 0 0 0 10%;
	    }

	    &-orange {
		border-radius: 0 0 10% 0;
	    }

	    @each $name, $color in $flat-colors {
		&-#{$name} {
		    display: flex;
		    border: unset;
		    background-color: $color;
		    cursor: pointer;
		    font-family: inherit;
		    font-size: 1.5rem;
		    position: relative;
		    overflow: hidden;
		    & > p {
			color: black;
			margin: auto;
		    }

		    // Pseudo-elements for decorative swatches.
		    &__deco-top::before, &__deco-top::after, &__deco-bot::before, &__deco-bot::after {
			content: "";
			width: 100%;
			position: absolute;
			height: 0;
			transition: height 66ms ease-out;
		    }

		    // Bottom swatches start at the bottom.
		    &__deco-bot::before, &__deco-bot::after {
			bottom: 0;
		    }

		    // Lighter swatches are taller and use ::before.
		    @each $element in ( "&__deco-top::before", "&__deco-bot::before" ) {
			#{$element} {
			    background-color: color.adjust($color, $lightness: -20%);
			}
			&:hover > #{$element}, &:focus > #{$element} {
			    height: 20%;
			}
		    }

		    // Darker swatches are shorter and use ::after.
		    @each $element in ( "&__deco-top::after", "&__deco-bot::after" ) {
			#{$element} {
			    background-color: color.adjust($color, $lightness: -30%);
			}
			&:hover > #{$element}, &:focus > #{$element} {
			    height: 10%;
			}
		    }
		}
	    }
	}
    }
}

@media (min-width: breakpoints.$tablet) {
    #home-page-info {
	grid-template-columns: repeat(2, 1fr);
	&-pp {
	    border-radius: 10% 0 0 10%;
	}
	&-bt {
	    &-blue {
		border-radius: 0 10% 0 0;
	    }
	    &-orange {
		border-radius: 0 0 10% 0;
	    }
	    &-yellow {
		border-radius: unset;
	    }
	}
    }
}
